@import "../constants";

.primary-cta {
  @include buttonFont($color: #fff);
  background: $theme-blue-700;
  box-shadow: $shadow-button-container rgba(30, 36, 71, 0.5);
  border-radius: $primary-border-radius;

  &:hover {
    background-color: $theme-blue-400;
  }

  &:active {
    background-color: $theme-blue-500;
  }

  &:disabled {
    background: $theme-grey-100;
    box-shadow: $shadow-button-container $shadow-black-opacity-50;
  }
}

.tertiary-red-cta {
  @include buttonFont(400, $theme-red-500);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-blue-500;
  }
}

.tertiary-cta {
  @include buttonFont(400, $theme-blue-500);

  &:hover {
    text-decoration: underline;
  }

  &:active {
    text-decoration: underline;
    color: $theme-blue-500;
  }
}

.secondary-cta {
  @include buttonFont($color: $theme-blue-700);
  border-radius: $primary-border-radius;
  border: 2px solid $theme-blue-700;
  color: $theme-blue-700;
  font-weight: 600;

  &:hover {
    color: $theme-blue-400;
    border: 3px solid $theme-blue-400;
  }

  &:active {
    border: 2px solid $theme-blue-500;
    box-shadow: $shadow-button-container rgba(52, 30, 72, 0.5);
    color: $theme-blue-500;
  }

  &:disabled {
    border: 2px solid $theme-grey-150;
    background: #fff;
    box-shadow: $shadow-button-container $shadow-black-opacity-25;
  }
}
