@import "../constants";

@mixin generatePriorityClass($priority, $theme) {
  .priority-#{$theme}-#{$priority} {
    border-radius: $priority-border-radius;
    padding: 2px 6px;
    @content;
  }
}

@mixin generateStatusClass($status, $theme) {
  .status-#{$theme}-#{$status} {
    padding: 0.5px 10px;
    border-radius: $status-border-radius;
    @content;
  }
}
