/*Theme Colors*/
$theme-yellow-50: #f7f4d4;
$theme-yellow-100: #ffe492;
$theme-yellow-300: #f7de3b;
$theme-yellow-500: #fbc920;
$theme-yellow-700: #fba804;
$theme-yellow-900: #ff8800;

$yellow-colors: (
  50: $theme-yellow-50,
  100: $theme-yellow-100,
  300: $theme-yellow-300,
  500: $theme-yellow-500,
  700: $theme-yellow-700,
  900: $theme-yellow-900,
);

$theme-grey-100: #fafafa;
$theme-grey-150: #f3f2f2;
$theme-grey-200: #e0e0e0;
$theme-grey-250: #d9d9d9;
$theme-grey-300: #cfcdc9;
$theme-grey-400: #9c9a96;
$theme-grey-500: #696763;
$theme-grey-600: #4f4e4b;
$theme-grey-700: #42413e;
$theme-grey-800: #363430;
$theme-grey-900: #282724;

$grey-colors: (
  100: $theme-grey-100,
  150: $theme-grey-150,
  200: $theme-grey-200,
  250: $theme-grey-250,
  300: $theme-grey-300,
  400: $theme-grey-400,
  500: $theme-grey-500,
  600: $theme-grey-600,
  700: $theme-grey-700,
  800: $theme-grey-800,
  900: $theme-grey-900,
);

// Secondary Colors
$theme-green-50: #edfddd;
$theme-green-500: #33a329;

$green-colors: (
  50: $theme-green-50,
  500: $theme-green-500,
);

$theme-blue-50: #e7f9fd;
$theme-blue-75: #ebffff;
$theme-blue-100: #e4f3fe;
$theme-blue-200: #bedffe;
$theme-blue-250: #93ceec;
$theme-blue-275: #4ca6e5;
$theme-blue-300: #4889ea;
$theme-blue-400: #317ae8;
$theme-blue-500: #1a6be5;
$theme-blue-600: #0e5399;
$theme-blue-700: #003366;

$blue-colors: (
  50: $theme-blue-50,
  75: $theme-blue-75,
  100: $theme-blue-100,
  200: $theme-blue-200,
  250: $theme-blue-250,
  275: $theme-blue-275,
  300: $theme-blue-300,
  400: $theme-blue-400,
  500: $theme-blue-500,
  600: $theme-blue-600,
  700: $theme-blue-700,
);

$theme-purple-50: #fee6f2;
$theme-purple-500: #cc66cc;
$theme-purple-700: #8f1dc9;
$theme-purple-800: #6614b8;

$purple-colors: (
  50: $theme-purple-50,
  500: $theme-purple-500,
  700: $theme-purple-700,
  800: $theme-purple-800,
);

$theme-red-50: #fcd6cf;
$theme-red-100: #feb8b1;
$theme-red-300: #fb6f60;
$theme-red-500: #e72113;

$red-colors: (
  50: $theme-red-50,
  100: $theme-red-100,
  300: $theme-red-300,
  500: $theme-red-500,
);

/*Borders*/
$primary-border-radius: 4px;
$secondary-border-radius: 10px;
$tertiary-border-radius: 40px;
$priority-border-radius: 5px;
$status-border-radius: 10px;

// Typography
$inter: "Inter", sans-serif;
$lato: "Lato", sans-serif;

// Breakpoints
$breakpoint-phone: 599px;
$breakpoint-tablet-small: 600px;
$breakpoint-tablet-medium: 768px;
$breakpoint-tablet-large: 1024px;
$breakpoint-desktop-small: 1200px;
$breakpoint-desktop-medium: 1440px;
$breakpoint-desktop-large: 1600px;
$breakpoint-desktop-extralarge: 1800px;

$breakpoints: (
  phone: $breakpoint-phone,
  tab-sm: $breakpoint-tablet-small,
  tab-md: $breakpoint-tablet-medium,
  tab-lg: $breakpoint-tablet-large,
  laptop: $breakpoint-desktop-small,
  desktop: $breakpoint-desktop-medium,
  desktop-lg: $breakpoint-desktop-large,
  desktop-xl: $breakpoint-desktop-extralarge,
);

//Layout
$primary-sidebar-width: 5rem;
$secondary-sidebar-width: 13rem;
$child-col-laptop: 30vw;

// Border radius
$radius-external-container: 40px;
$radius-internal-container: 10px;
$radius-button-container: 4px;

// Padding
$padding-external-container: 10px;
$padding-internal-container: 20px;

// Shadow opacity
$shadow-black-opacity-5: rgba(0, 0, 0, 0.05);
$shadow-black-opacity-7: rgba(0, 0, 0, 0.07);
$shadow-black-opacity-10: rgba(0, 0, 0, 0.1);
$shadow-black-opacity-11: rgba(0, 0, 0, 0.11);
$shadow-black-opacity-20: rgba(0, 0, 0, 0.2);
$shadow-black-opacity-25: rgba(0, 0, 0, 0.25);
$shadow-black-opacity-50: rgba(0, 0, 0, 0.5);

// Shadow
$shadow-external-container: 0px 5px 15px -10px;
$shadow-internal-container: 0px 5px 15px -10px;
$shadow-button-container: 0px 10px 20px -10px;
$shadow-input: 0px 7px 15px -10px;
$shadow-card: 1px 4px 10px;
